@import "@/styles/globals/placeholders";


.heading{
    width: 75%;
    padding: 2rem 0;

    @media screen and (max-width: $screen-sm){
        width: 100%;
        padding: 0;
    }
}

.zebraStripe{
    background-color: #333;
}

.cell{
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
}