@import "@/styles/globals/placeholders";

.header{
    font-size: calc(40px + (100 - 40) * (100vw - 400px) / (2000 - 400) ) !important;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 3rem;
    display: flex;
    align-items: baseline;
    line-height: 1;
}

.headerLink{
    font-size: 2.1rem !important;
    line-height: 1;
    margin-left: 3rem;
    font-weight: 500;
}


.hero{
    width: 100%;
    min-height: 900px;

    & mux-player {
        --controls: none;
        --media-object-fit: cover;

        position: absolute;
        inset: 0;
        z-index: -1;

        @media screen and (max-width: $screen-sm){
            position: relative;
        }
    }

    & mux-player::part(gesture-layer) {
        display: none;
    }

}



